@inject IAuthenticationSchemeProvider Schemes
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Home Page";
    var result = await Context.AuthenticateAsync("cookie");
}

<div class="row p-3">
    <div class="col-12">
        @if (result.Succeeded)
        {
            <h2>Authenticated!</h2>
            <ul>
                @foreach (var claim in User.Claims)
                {
                    <li><strong>@claim.Type:</strong> @claim.Value</li>
                }
            </ul>
        }
        else
        {
            <h2>Unauthenticated</h2>
        }
    </div>
</div>

<div class="row p-3">
    <div class="col-12">
        <h2>Available Providers</h2>
        <ul>
            @foreach (var scheme in await Schemes.GetAllSchemesAsync())
            {
                <li>@scheme.Name</li>
            }
        </ul>
    </div>
</div>